<section class="custmer-add-main">
    <div class="customer-add-header">
        <h2>Kunden hinzufügen</h2>
    </div>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="customer_number">Kundennummer</label>
            <input id="customer_number" formControlName="customer_number" type="text" class="form-control">
            <label for="company_name">Firmenname</label>
            <input id="company_name" formControlName="company_name" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <h3>Adresse</h3>
            <label for="street">Straße</label>
            <input id="street" formControlName="street" type="text" class="form-control">
            <label for="house_number">Hausnummer</label>
            <input id="house_number" formControlName="house_number" type="text" class="form-control">
            <label for="postal_code">Postleitzahl</label>
            <input id="postal_code" formControlName="postal_code" type="text" class="form-control">
            <label for="city">Stadt</label>
            <input id="city" formControlName="city" type="text" class="form-control">
            <label for="country">Land</label>
            <input id="country" formControlName="country" type="text" class="form-control">
        </div>
        <div class="form-group">
            <h3>Kontakt</h3>
            <label for="customer_language">Sprache</label>
            <select id="customer_language" formControlName="customer_language" class="form-control">
                <option value="de">Deutsch</option>
                <option value="en">Englisch</option>
                <option value="fr">Französisch</option>
                <option value="es">Spanisch</option>
                <option value="it">Italienisch</option>
            </select>
            <label for="contact_person">Ansprechpartner</label>
            <input id="contact_person" formControlName="contact_person" type="text" class="form-control">
            <label for="vat_language">USt-IdNr. Sprache</label>
            <select id="vat_language" formControlName="vat_language" class="form-control">>
                <option value="de">DE</option>
                <option value="en">EN</option>
                <option value="fr">FR</option>
                <option value="es">ES</option>
                <option value="it">IT</option>
            </select>
            <label for="vat_id">USt-IdNr.</label>
            <input id="vat_id" formControlName="vat_id" type="text" class="form-control" required>
            <label for="email">E-Mail</label>
            <input id="email" formControlName="email" type="email" class="form-control" required>
            <label for="phone">Telefon</label>
            <input id="phone" formControlName="phone" type="text" class="form-control">
            <label for="industry">Branche</label>
            <input id="industry" formControlName="industry" type="text" class="form-control">
            <label for="notes">Notizen</label>
            <textarea id="notes" formControlName="notes" class="form-control"></textarea>
        </div>
    </form>
</section>