<header class="main-header">
  <div class="logo">
    <a routerLink="/">Peytor</a>
  </div>

  <nav class="nav-links" *ngIf="!isMobileMenuOpen">
    <a routerLink="/">Home</a>
    <a routerLink="/pricing">Pricing</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
  </nav>

  <div class="header-btns">
    <div class="button-primary" *ngIf="!isMobileMenuOpen">
      <a routerLink="/app/invoices/list">Demo</a>
    </div>

    <div class="button-primary" *ngIf="!isMobileMenuOpen">
      <a routerLink="/login">Login</a>
    </div>
  </div>

  <!-- Burger-Icon 
  <div class="burger" (click)="toggleMobileMenu()" aria-label="Menü öffnen">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="mobile-menu" *ngIf="isMobileMenuOpen">
    <a routerLink="/" (click)="closeMobileMenu()">Home</a>
    <a routerLink="/pricing" (click)="closeMobileMenu()">Pricing</a>
    <a routerLink="/about" (click)="closeMobileMenu()">About</a>
    <a routerLink="/contact" (click)="closeMobileMenu()">Kontakt</a>
    <a routerLink="/login" (click)="closeMobileMenu()" class="login-button">Login</a>
  </div> -->
</header>
