<header class="main-header">
  <div class="logo">
    <a routerLink="/">Peytor</a>
  </div>

  <nav class="nav-links" *ngIf="!isMobileMenuOpen">
    <a routerLink="/">Startseite</a>
    <a routerLink="/pricing">Preise</a>
    <a routerLink="/about">Über uns</a>
    <a routerLink="/contact">Kontakt</a>
  </nav>

  <div class="header-btns">
    <div id="reg-btn" class="button-primary" *ngIf="!isMobileMenuOpen">
      <a routerLink="/app/invoices/list">Demo</a>
    </div>

    <div id="login-btn" class="button-primary" *ngIf="!isMobileMenuOpen">
      <a routerLink="/login">Anmelden</a>
    </div>
  </div>

  <div class="burger" (click)="toggleMobileMenu()" aria-label="Menü öffnen">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="mobile-menu" *ngIf="isMobileMenuOpen">
    <a routerLink="/" (click)="closeMobileMenu()">Home</a>
    <a routerLink="/pricing" (click)="closeMobileMenu()">Pricing</a>
    <a routerLink="/about" (click)="closeMobileMenu()">About</a>
    <a routerLink="/contact" (click)="closeMobileMenu()">Kontakt</a>
    <a routerLink="/login" (click)="closeMobileMenu()" class="login-button">Anmelden</a>
  </div> 
</header>
