@use '../../../styles/mixins.scss' as m;
@use '../../../styles/variables.scss' as v;
@use "sass:color";

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 2rem;*/
    z-index: 10;
    /*background: rgba(22, 22, 26, 0.4);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);*/
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: v.$accent;
    }
  }
  
  /*.cta .login-button {
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, v.$primary, v.$accent);
    border-radius: v.$radius;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
    cursor: pointer;
  
    &:hover {
      background: color.adjust(v.$primary, $lightness: 10%);
    }
  }*/
  