<section class="contact-main">
  <div class="contact-wrapper">
    <h2>Kontaktiere uns</h2>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <input
        type="text"
        [(ngModel)]="contactData.name"
        name="name"
        placeholder="Dein Name"
        required
      />
      <input
        type="email"
        [(ngModel)]="contactData.email"
        name="email"
        placeholder="Deine E-Mail-Adresse"
        required
      />
      <textarea
        [(ngModel)]="contactData.message"
        name="message"
        placeholder="Deine Nachricht"
        required
      ></textarea>
      <div class="error-message" [class.visible]="errorMessage">
        {{ errorMessage }}
      </div>
      <button class="button-primary" type="submit">Absenden</button>
    </form>
  </div>
  <div class="toast" [class.visible]="showSuccess">Dein Nachricht wurde erfolgreich gesendet!</div>
</section>
