<section class="invoice-list">
    <h2>Deine Rechnungen</h2>
    <button class="button-primary" (click)="create()">Neue Rechnung</button>
  
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Kunde</th>
          <th>Datum</th>
          <th>Status</th>
          <th>Betrag</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.number }}</td>
          <td>{{ invoice.customer }}</td>
          <td>{{ invoice.date | date: 'dd.MM.yyyy' }}</td>
          <td>
            <span [ngClass]="invoice.status">{{ invoice.status }}</span>
          </td>
          <td>{{ invoice.amount | currency:'EUR' }}</td>
          <td class="actions">
            <button class="button-primary" (click)="view(invoice.id)">Ansehen</button>
            <button class="button-primary" (click)="edit(invoice.id)">Bearbeiten</button>
            <button class="delete button-primary" (click)="delete(invoice.id)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  