@use '../../../styles/mixins.scss' as m;
@use '../../../styles/variables.scss' as v;

.dashboard-main {
    padding: 2rem;
}

.dashboard-card {
    background-color: v.$glass-bg;
    backdrop-filter: blur(v.$glass-blur);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 1.5rem;
}

span {
    @include m.styleFont('Space Grotesk', 16px, 400);
}