@use '../../../../styles/variables.scss' as v;

.setting-invoice {
  margin: 2rem auto;
  padding: 2rem;
}

h2 {
  color: v.$accent;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.setting-invoice form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.setting-invoice label {
  color: v.$text-primary;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.setting-invoice input,
.setting-invoice select,
.setting-invoice textarea {
  background: rgba(255,255,255,0.1);
  border-radius: v.$radius;
  border: 1px solid rgba(0,0,0,0.1);
  color: v.$text-accent;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.setting-invoice input[type="file"] {
  padding: 0.2rem;
}
