@use "../src/styles/mixins.scss" as m;
@use "../src/styles/variables.scss" as v;
@use "sass:color";

@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body,
html {
  @include m.flexBox(column, center, center);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    120deg,
    v.$background 0%,
    v.$surface 60%,
    v.$primary 100%
  );
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: v.$text-primary;
  font-family: "Space Grotesk", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

app-header,
app-footer {
  height: 56px;
  width: 100%;
  flex-shrink: 0;
}

app-register,
app-login {
   @include m.flexBox(); 
} 

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}

.button-primary {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, v.$primary, v.$accent);
  border-radius: v.$radius;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
  outline: none;
  border: none;
  cursor: pointer;

  a {
    color: white;
    text-decoration: none;
  }
  
  &:hover {
    background: color.adjust(v.$primary, $lightness: 10%);
  }

  &:disabled {
    background: v.$surface;
    color: v.$text-secondary;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
}

.error-message {
  height: 0;
  font-size: 0.8rem;
  color: v.$error;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.error-message.visible {
  opacity: 1;
}
