<section class="invoice-form-wrapper">
    <div class="invoice-section">
        <div class="invoice-left">
            <form #invoiceForm="ngForm" (ngSubmit)="onSubmit(invoiceForm)" class="invoice-form">
                <h2>Rechnung erstellen</h2>

                <div class="form-group">
                    <label for="customer">Kunde</label>
                    <input id="customer" name="customerName" [(ngModel)]="invoice.customerName" required
                        placeholder="Kundenname">
                </div>

                <div class="form-group">
                    <label for="date">Rechnungsdatum</label>
                    <input id="date" name="date" type="date" [(ngModel)]="invoice.date" required>
                </div>

                <div class="form-group">
                    <label for="number">Rechnungsnummer</label>
                    <input id="invoiceNumber" name="invoiceNumber" [(ngModel)]="invoice.invoiceNumber" required placeholder="z. B. 2025-001">
                </div>

                <div *ngFor="let item of invoice.items; let i = index" class="invoice-item">
                    <h4>Position {{ i + 1 }}</h4>
                    <input name="description{{i}}" [(ngModel)]="item.description" required placeholder="Beschreibung">
                    <label for="quantity">Menge</label>
                    <input name="quantity{{i}}" type="number" [(ngModel)]="item.quantity" required placeholder="Menge">
                    <label for="price">Preis</label>
                    <input name="price{{i}}" type="number" [(ngModel)]="item.unitPrice" required
                        placeholder="Einzelpreis">
                    <button type="button" (click)="removeItem(i)">Entfernen</button>
                </div>

                <button class="button-primary" type="button" (click)="addItem()">+ Neue Position</button>

                <div class="form-group total">
                    <strong>Gesamt: {{ calculateTotal() | currency:'EUR' }}</strong>
                </div>
                <div id="reverseCharge">
                    <input id="reverseCharge" type="checkbox" name="reverseCharge" [(ngModel)]="invoice.reverseCharge">
                    <label for="reverseCharge">Reverse Charge</label>
                </div>
                <button class="button-primary" type="submit" [disabled]="!invoiceForm.form.valid">Rechnung speichern</button>
                <button class="button-primary" (click)="exportAsPDF()">Als PDF exportieren</button>
            </form>
        </div>
        <div class="invoice-right">
            <div class="invoice-preview" id="invoice-preview">
                <div class="preview-header">
                    <div class="logo"><strong>Peytor</strong></div>
                    <div class="invoice-info">
                        <p><strong>Rechnungsnummer:</strong> {{ invoice.invoiceNumber }}</p>
                        <p><strong>Datum:</strong> {{ invoice.date | date }}</p>
                    </div>
                </div>

                <div class="preview-main">
                    <div class="customer-info">
                        <p><strong>Rechnung an:</strong> {{ invoice.customerName }}</p>
                    </div>

                    <h4>Positionen</h4>
                    <ul>
                        <li *ngFor="let item of invoice.items">
                            <span>{{ item.description }} ({{ item.quantity }}x)</span>
                            <span>{{ item.quantity * item.unitPrice | currency:'EUR' }}</span>
                        </li>
                    </ul>

                    <div class="total">
                        Gesamtbetrag: {{ calculateTotal() | currency:'EUR' }}
                    </div>
                </div>

                <div class="preview-footer">
                    <p>Diese Rechnung wurde automatisch generiert und ist auch ohne Unterschrift gültig.</p>
                </div>
            </div>
        </div>
    </div>
</section>